<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Corrected.Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1358.0" targetFramework="net452" />
  <package id="CrystalReports" version="13.0.5.891" targetFramework="net452" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1449.0" targetFramework="net452" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1449.0" targetFramework="net452" />
  <package id="Microsoft.ReportViewer.VS2015.WinForms" version="12.0.2.2402" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net452" />
</packages>